body{
  background: black;
}

h1#principalTitle.pab{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  position: relative;
  animation-iteration-count: 1;
  animation-name: tittleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
}

@keyframes titleAnimation{
  from {bottom: -100px;}
  to {bottom: -0px;}
}

/*----- mobile adjustment ----*/
@mdia (min-width: 600px){
  .header {grid-area: 1 / span 6;}
}
